<div>
    <h2 class="title is-3 has-text-centered">Successfully logged out</h2>
    <p class="has-text-centered subtitle">Your account has been logged out from this device</p>
    <hr>
    <a class="button is-light">Log me out from all devices</a>
    <a id="goHome" class="button is-dark">Return home</a>
</div>